.items-container {
  margin-top: 150px;
}
.item-container {
  text-align: center;
  border: solid 1px red;
  padding: 20px;
  margin-bottom: 10px;  
  position: absolute;
  min-width: 300px;  
  left: 50%;
  cursor: pointer;
}
.item-container.being-hovered {
    background-color: #ecc0c0;
}
.item-container.currently-dragged {
    background-color: #cfcdcd;
    z-index: 9;
}
